@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: "Kanit", sans-serif;
}

/* ------------------------------- Google translate ------------------------------- */
.VIpgJd-ZVi9od-ORHb-OEVmcd {
  display: none;
}

.VIpgJd-ZVi9od-aZ2wEe-wOHMyf {
  display: none;
}

#goog-gt-tt,
.goog-te-banner-frame,
.goog-te-balloon-frame {
  display: none !important;
}

body {
  top: 0px !important;
}

/* ------------------------------- Google translate ------------------------------- */

/* ซ่อนหน้าพื้นหลังเวลากดปริ้นที่หน้า PrintExam.jsx */

@media print {
  
  #printable-area {
    display: block;
  }

  .ForPrintHidden {
    display: none;
  }
}